@import url("https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Wittgenstein", serif;
}
body {
  background-color: #f0f0f0;
}

.bodypart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 8rem;
}
.input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 3rem; */
  margin: 20px 0;
}
.input-section input {
  padding: 5px;
  width: 350px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 12px;
}
.input-section button {
  background: none;
  border: none;
  cursor: pointer;
  size: 50px;
}
.body-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-body {
  background-color: white;
  width: 400px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sub-body h2 {
  font-size: 7rem;
  text-align: center;
}
.sub-body .temprature,
h3 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0 0 0;
}

.sub-body span {
  font-size: 2rem;
  display: flex;
}
.sub-body .humidity p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
}
.weather-type {
  font-size: 20px;
  font-weight: 500;
  color: rgb(51, 45, 45);
  text-align: center;
}
.HWR {
  display: flex;
  align-items: center;
  background-color: red;
  width: 350px;
  max-width: 600px;
  justify-content: space-between;
  margin: 2rem 0;
}
.dateandtime {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500ox;
  width: 300px;
  height: 200px;
  padding: 10px;
  text-align: center;
}
.dateandtime .time-section {
  font-size: 30px;
  margin: 2rem 0;
  font-weight: initial;
}
.time-section span {
  font-size: 20px;
}
.dateandtime .date-section {
  font-size: 20px;
  font-weight: 700;
}
.lighttheme {
  background-color: #f0f0f0;
  color: black;
}
.dartheme {
  background-color: black;
  color: white;
  height: 150vh;
}
.header-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dartheme .input-section input,
.dartheme .sub-body,
.dartheme .dateandtime {
  background-color: black;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(255, 253, 253, 0.964);
}
.dartheme .input-section button {
  color: white;
}
.dartheme .theme-btn {
  background-color: white;
  color: black;
}
.dartheme .weather-type{
  color: white;
}
.theme-btn {
  padding: 0px 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 20px 0;
  background-color: black;
  color: white;
}
@media (max-width:700px) {
  .header-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
.bodypart{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 0;
}
.body-section{
  margin-bottom: 2rem;
  max-width: 500px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dateandtime{
  width: 367px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

}
@media (max-width:1100px) {
  .header-part{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .bodypart{
    display: flex;
    justify-content: space-around;
  }
.dateandtime{
  height: 466px;
  /* width: 400px; */
}
.theme-btn{
  padding: 0 10px;
}
  
}
